*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.contain{
    width: 60%;
    margin: 0px auto;
    margin-top: 2rem;
}
.table{
    margin: 0px auto;
}
.head{
    text-align: center;
    padding: 2rem;
    background-color: black;
    color: white;
}
h3{
    font-size: 2rem;
    padding-top: 0.4rem;
}
table{
    width: 100%;
    height: 20vh;
}
.tabel,th{
    padding: 0.3rem;
    background-color: black;
    color: white;
}
table,td{
    text-align: center  ;

}
.btn{
    display: inline-flex;
}
.btn h3{
    float: left; 
}
.btn button{
    float: right; 
}